.nav-toolbar{
    #logo{
        width: 64px;
        height: 64px;
    }
    .nav-row{
        width: 100%;
        .nav-items-right{
            margin-left: auto;
            align-self: center;
            .join-button{
                background-color: rgb(117, 0, 49);
            }
        }
    }
}