<div class='category' *ngFor="let category of categoryTracks">
    <div class='category-title'>
        <h1>{{category.name}}</h1>
    </div>
    <hr style="background-color: white;">
    <div class='category-content'>
        <mat-card class="track-card" *ngFor="let track of category.tracks">
            <div class="track-content">
                <div class="track-logo">
                    <img mat-card-image [src]="track.logoUrl" alt=".NET Core">
                </div>
                <mat-card-content class="track-detail">
                    <div class="track-title">
                        <h2>{{track.title}}</h2>
                    </div>
                    <div class="track-desc">
                        <p>{{track.description}}</p>
                    </div>
                </mat-card-content>
            </div>
            <mat-card-actions class="track-join">
              <button mat-button class="btn btn-primary">JOIN NOW</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>