<form class="login-form">
  <div class="login-form-field">
    <mat-form-field class="field-box">
      <input matInput placeholder="Email" name="email" required>
    </mat-form-field>
  </div>
  <div class="login-form-field">
    <mat-form-field class="field-box">
      <input matInput placeholder="Password" type="password" name="password" required>
    </mat-form-field>
  </div>
  <div class="login-form-field">
    <section class="field-box">
      <mat-checkbox>Remember this account</mat-checkbox>
    </section>
  </div>
</form>
<div class="login-action-box">
  <button mat-raised-button color="primary">Login</button>
  <span class="text-note">Forgot your password? <a class="a-link" href="#">Click Here</a></span>
</div>