<mat-card class="login-card">
  <mat-card-header class="login-header">
      <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content class="login-content">
    <form class="login-form" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div class="login-form-field">
        <mat-form-field class="field-box">
          <input matInput placeholder="Email" formControlName="email" type="text"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        </mat-form-field>
      </div>
      <div class="login-form-field">
        <mat-form-field class="field-box">
          <input matInput placeholder="Password" formControlName="password" type="password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        </mat-form-field>
      </div>
      <div class="login-form-field">
        <section class="field-box">
          <mat-checkbox>Remember this account</mat-checkbox>
        </section>
      </div>
      <div class="login-action-box">
        <button mat-raised-button color="primary" [disabled]="loading" type="submit">Login</button>
        <span class="text-note">Forgot your password? <a class="a-link" href="#">Click Here</a></span>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<div class="other-options">
  <button mat-raised-button class="switch-button"
    (click)="switchToRegister()">CREATE NEW ACCOUNT</button>
</div>
<div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>