<div class="overview-container">
    <div class="overview-head-container">
        <mat-card class="overview-head-card">
            <mat-card-content class="overview-head-card-content">
                <div class="overview-head-image">
                    <img [src]="course.imgUrl">
                </div>
                <div class="overview-head-detail">
                    <div class="overview-head-title">{{course.title}}</div>
                    <div class="overview-head-subtitle">
                        <div class="mentor-photo">
                            <img src="../../../../assets/avatar.png" alt="avatar">
                        </div>
                        <div class="mentor-desc">
                            <span class="mentor-name">{{course.mentor}}</span>
                            <span class="mentor-title">CEO & Instructor of Devdrill</span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="overview-desc-container">
        <mat-card class="overview-desc-card">
            <div class="overview-desc-card-header">
                <h2>Course Outline</h2>
            </div>
            <mat-card-content class="overview-desc-card-content">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa dolor nobis quaerat, illum dolorem, consectetur quas illo necessitatibus quam, veniam excepturi alias. Omnis, ex. Quod qui perspiciatis nesciunt est blanditiis.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus facere vel doloribus quod soluta fugit, nam eos molestias neque iste autem adipisci quia facilis optio magni corrupti similique. Est, iusto.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus reprehenderit, quibusdam optio dignissimos ipsam ad doloribus possimus quam debitis incidunt at et, quia impedit, nemo voluptate rerum nulla hic? Itaque.
            </mat-card-content>
        </mat-card>
    </div>
</div>