<div class="overview-container">
    <div class="overview-head-container">
        <mat-card class="overview-head-card">
            <mat-card-content class="overview-head-card-content">
                <div class="overview-head-image">
                    <img [src]="'/assets/'+course?.photoUrl">
                </div>
                <div class="overview-head-detail">
                    <div class="overview-head-title">{{course?.name}}</div>
                    <div class="overview-head-subtitle">
                        <div class="mentor-photo">
                            <img src="/assets/avatar.png" alt="avatar">
                        </div>
                        <div class="mentor-desc">
                            <span class="mentor-name">{{course?.instructor?.name}}</span>
                            <span class="mentor-title">{{course?.instructor?.title}} | {{course?.instructor?.companyName}}</span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="overview-desc-container">
        <mat-card class="overview-desc-card">
            <div class="overview-desc-card-header">
                <h2>Course Outline</h2>
            </div>
            <mat-card-content class="overview-desc-card-content">
                {{course?.detail}}
            </mat-card-content>
        </mat-card>
    </div>
</div>