.chapter-detail{
    width: inherit;
    .chapter-video{
        .selected{
            background-color: #101010 !important;
        }
        .video-card{
            background-color: #404040;
            margin-bottom: 15px;
            cursor: pointer;
            transition: 0.3s;
        }
        .video-card:hover{
            background-color: #101010;
        }
        .video-card mat-card-content{
            display: flex;
            flex-direction: row;
            @media screen and (max-width: 500px){
                .video-preview{
                    width: 0 !important; 
                    height: 0 !important;
                }
            }
            .video-preview{
                flex-shrink: 0;
                width: 100px;
                height: 50px;
                margin-right: 20px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .video-desc{
                .video-title{
                    font-weight: bold;
                    font-size: 20px;
                }
                .video-duration{
                    margin-top: 5px;
                    font-size: 18px;
                }
                .video-about{
                    margin-top: 10px;
                }
            }
        }
    }
}