table {
    width: 100%;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
.mat-column-id{
    width: 10%;
}
.mat-column-name{
    width: 50%;
}
.mat-column-progress{
    width: 30%;
    padding: 0 20px;
}
.mat-column-toggle{
    width: 10%
}
.mat-button{
    background-color: #303030;
}