<section class='content' *ngIf="user">
    <mat-card class='content-card'>
        <div class='card-header'>
            <span class='card-header-text'>My Progress</span>
        </div>
        <mat-card-content class="card-body">
            <div class="content-context">
                <mat-card class="progress-item track-section">
                    <mat-card-header>
                        <mat-card-title>
                            <fa-icon [icon]="['fas','biking']"></fa-icon>
                            <span style="margin: 0 10px;">Track</span>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Current pursuing:<br><b>{{(trackLatest$ | async)?.name}}</b>
                        </p>
                        <p>
                            Total completed:<br><strong>{{(tracksDone$ | async)}}</strong>
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="progress-item course-section">
                    <mat-card-header>
                        <mat-card-title>
                            <fa-icon [icon]="['fas','book']"></fa-icon>
                            <span style="margin: 0 10px;">Course</span>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Current attending:<br><b>{{(courseLatest$ | async)?.name}}</b>
                        </p>
                        <p>
                            Total completed:<br><strong>{{(coursesDone$ | async)}}</strong>
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="progress-item forum-section">
                    <mat-card-header>
                        <mat-card-title>
                            <fa-icon [icon]="['fas','comments']"></fa-icon>
                            <span style="margin: 0 10px;">Forum</span>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Last thread:<br><b>{{(threadLatest$ | async)?.topic}}</b>
                        </p>
                        <p>
                            Total contribution:<br><strong>{{(threadsCount$ | async)}}</strong>
                        </p>
                    </mat-card-content>             
                </mat-card>
            </div>
        </mat-card-content>
    </mat-card>
</section>