.content{
    margin: 10px;
}
.content-card{
    padding: 0;
    border-radius: 25px;
}
.card-header{
    border-radius: 25px 25px 0 0;
    background-color: #c2185b;
    margin: 0;
    .card-header-text {
        font-size: 18px;
        padding: 10px 0;
        font-weight: bold;
    }
}
.card-body{
    padding: 0;
}
.card-body::-webkit-scrollbar {
    display: none;
}
.content-context{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .progress-item{
        margin: 5px;
        background-color: #535252;
        flex-grow: 1;
    }
}