<section class='content'>
    <mat-card class='content-card'>
        <div class='card-header'>
            <span class='card-header-text'>Join Track</span>
        </div>
        <mat-card-content>
            <div class="content-context">
                <div class="content-motivation">Start learning your favorite framework, Step by Step.</div>
                <button mat-button class="btn btn-primary" [routerLink]="['..','track']">GO TO TRACK</button>
            </div>
        </mat-card-content>
    </mat-card>
</section>