<div class="related-course-container">
    <h1>Coursework</h1>
    <hr style="background-color: white;">
    <div class="related-course-list">
        <mat-card class="course-card" *ngFor="let course of courses" [routerLink]="['../..','coursedetail',course.courseId]">
            <mat-card-content class="course-card-content">
                <div class="course-image">
                    <img [src]="'/assets/'+course.photoUrl">
                </div>
                <div class="course-detail">
                    <div class="course-desc">
                        <div class="course-title">{{course.name}}</div>
                        <div class="course-subtitle">{{course.user?.name}}</div>
                        <div class="course-about">
                            <p>{{course.detail}}</p>
                        </div>
                    </div>
                    <div class="course-audit">
                        {{course.insertDate | date: 'longDate'}}
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>