.related-course-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    .course-card{
        background: linear-gradient(to right,#202020,#535252) ;
        border-radius: 10px;
        margin: 10px 0;
        justify-content: space-between;
        width: 100%;
        .course-card-content{
            display: flex;
            flex-direction: row;
            .course-image{
                opacity: 0.5;
                display: inline-block;
                img{
                    height: 180px;
                    width: 220px;
                }
            }
            .course-detail{
                padding: 0 10px;
                // display: inline-block;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .course-desc{
                    .course-title{
                        font-size: 20px;
                        font-weight: bold;
                    }
                    .course-subtitle{
                        font-size: 16px;
                        margin-top: 5px;
                    }
                    .course-about{
                        font-size: 14px;
                        margin: 15px 0;
                        p{
                            
                        }
                    }
                }
                .course-audit{
                    font-size: 12px;
                }
            }
        }
        cursor: pointer;
    }
    .course-card:hover{
        background: linear-gradient(to right,#101010,#333232) ;
        .course-image{
            opacity: 1 !important;
            transition: 2s;
        }
    }
}