<section class='content'>
    <mat-card class='content-card'>
        <div class='card-header'>
            <span class='card-header-text'>News</span>
        </div>
        <mat-card-content>
            <div class="content-context">
                <ngb-carousel
                    [showNavigationArrows]="true" 
                    [showNavigationIndicators]="true"
                    interval="10000"
                    [keyboard]="true"
                    [pauseOnHover]="true"
                    [wrap]="true"
                    [activeId]="activeId"
                    >
                    <ng-template ngbSlide *ngFor="let slide of slides" [id]="slide.idName">
                        <div class="picsum-img-wrapper">
                        <img [src]="slide.url" [alt]="slide.alt">
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </mat-card-content>
    </mat-card>
</section>