<div class="forum-container">
    <h1>Forum</h1>
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel *ngFor="let threadSection of threadSections">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <fa-icon [icon]="['fas','question-circle']" [class]="['fa-2x']" *ngIf="!threadSection.photoUrl"></fa-icon>
                    <img [src]="'/assets/'+threadSection.photoUrl" style="width: 30px;height: 30px;" *ngIf="threadSection.photoUrl">
                    <div style="margin: 0 10px;line-height: 2;">{{threadSection.name}}</div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row d-flex justify-content-between w-100 py-2" style="padding-left: 50px;" *ngFor="let discussion of threadSection.discussions">
                <div class="row">
                    <mat-icon style="margin: 0 10px">chat</mat-icon> 
                    <a [routerLink]="['threads',discussion.discussionId]" target="_blank" style="color: white;">{{discussion.name}}</a>
                </div>
                <div>
                    <span class="d-inline-block" style="margin: 0 10px;">{{countThreads(discussion.threads)}} Thread</span>
                    <span class="d-inline-block" style="margin: 0 10px;">{{countReplies(discussion.threads)}} Replies</span>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    </div>