<p>general works!</p>
<div class="forum-container">
    <h1>Forum</h1>
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel *ngFor="let threadSection of threadSections">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <fa-icon [icon]="['fas','question-circle']" [class]="['fa-2x']" *ngIf="!threadSection.photo"></fa-icon>
                    <img [src]="'../../../assets/'+threadSection.photo" style="width: 30px;height: 30px;" *ngIf="threadSection.photo">
                    <div style="margin: 0 10px;line-height: 2;">{{threadSection.name}}</div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row d-flex justify-content-between w-100 py-2" style="padding-left: 50px;" *ngFor="let discussion of threadSection.discussion">
                <div class="row">
                    <mat-icon style="margin: 0 10px">chat</mat-icon> 
                    <a [routerLink]="['threads']" target="_blank" style="color: white;">{{discussion.name}}</a>
                </div>
                <div>
                    <span class="d-inline-block" style="margin: 0 10px;">{{discussion.total_thread}} Thread</span>
                    <span class="d-inline-block" style="margin: 0 10px;">{{discussion.total_message}} Messages</span>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    </div>