.signup-action-box button{
    margin-right: 10px;
}
.signup-form{
    margin-bottom: 20px;
    .signup-form-field{
        .field-box{
            width:100%;
            margin-bottom: 5px;
            .a-link{
                display: inline-block;
                color: #ffffff;
            }
        }
    }
}
::ng-deep .signup-form .signup-form-field .field-box .agreement .mat-checkbox-layout{
    white-space: normal !important;
}