<form class="signup-form">
    <div class="signup-form-field">
        <mat-form-field class="field-box">
          <input matInput placeholder="Name" name="name" required>
        </mat-form-field>
    </div>
    <div class="signup-form-field">
      <mat-form-field class="field-box">
        <input matInput placeholder="Email" name="email" required>
      </mat-form-field>
    </div>
    <div class="signup-form-field">
        <mat-form-field class="field-box">
          <input matInput placeholder="Phone Number" name="phoneNumber" required>
        </mat-form-field>
    </div>
    <div class="signup-form-field">
      <mat-form-field class="field-box">
        <input matInput placeholder="Password" type="password" name="password" required>
      </mat-form-field>
    </div>
    <div class="signup-form-field">
        <mat-form-field class="field-box">
          <input matInput placeholder="Confirm Password" type="password" name="confirmPassword" required>
        </mat-form-field>
    </div>
    <div class="signup-form-field">
      <section class="field-box">
        <mat-checkbox class="agreement"> I agree to the <a class="a-link" href="#">Terms of Service and Privacy Policy</a></mat-checkbox>
      </section>
    </div>
  </form>
  <div class="signup-action-box">
    <button mat-raised-button color="primary">Sign Up</button>
  </div>