.footer {
    margin: auto;
    min-width: 327px;
    padding: 0 15px;
    justify-content: center;
}
.links{
    padding: 10px;
}
.links a fa-icon{
    margin: 0 10px;
    font-size: 25px;
    color: white;
    text-decoration: none;
}