<mat-toolbar class="footer">
  <div class="row" fxLayout="row">
    <div class="col-sm-12 links">
      <a href="https://www.github.com/tomastrajan" target="_blank">
        <fa-icon [icon]="['fab','github']"></fa-icon>
      </a>
      <a href="https://www.medium.com/@tomastrajan" target="_blank">
        <fa-icon [icon]="['fab','medium-m']"></fa-icon>
      </a>
      <a href="https://www.twitter.com/tomastrajan" target="_blank">
        <fa-icon [icon]="['fab','twitter']"></fa-icon>
      </a>
      <a href="https://www.youtube.com/channel/UC7XgRHIVoqnh3U5Vmly9ofQ" target="_blank">
        <fa-icon [icon]="['fab','youtube']"></fa-icon>
      </a>
      <a href="https://www.instagram.com/tomastrajan" target="_blank">
        <fa-icon [icon]="['fab','instagram']"></fa-icon>
      </a>
    </div>
  </div>
</mat-toolbar>