<div class="overview-container">
    <mat-card class="overview-card">
        <mat-card-content>
            <div class="track-image">
                <img src="../../../../assets/angular.png">
            </div>
            <div class="track-desc">
                <div class="track-title">Angular Developer</div>
                <div class="track-about">
                    Lorem ipsum dolor sit amet consectetur, 
                    adipisicing elit. Repellendus dolore minus voluptatum soluta, 
                    voluptatem quis iusto adipisci magni repudiandae vel omnis odit dolorem distinctio, 
                    corporis saepe commodi facere. Ipsum, odit.
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>