<div class='home-container'>
    <div class='row first-row'>
        <div class='latest-courses'>
            <app-latest-courses></app-latest-courses>
        </div>
        <div class='news-and-progress-view'>
            <div class='news'>
                <app-news></app-news>
            </div>
            <div class='progress-view'>
                <app-progress-view></app-progress-view>
            </div>
        </div>
    </div>
    <div class='row second-row'>
        <div class='track-navigator'>
            <app-track-navigator></app-track-navigator>
        </div>
    </div>
    <div class='row third-row'>
        <div class='forum-navigator'>
            <app-forum-navigator></app-forum-navigator>
        </div>
    </div>
</div>