.auth-container{
    padding: 30px;
}
.auth-card{
    max-width: 500px;
    margin: auto;
    padding: 30px;
}
.auth-content{
    margin: 0 16px;
}
.other-options{
    margin: auto;
    max-width: 560px;
    text-align: center;
    padding: 20px 0;
}
.other-options .switch-button{
    width: 100%;
    background-color: #0172cf;
}