<section class='content'>
    <mat-card class='content-card'>
        <div class='card-header'>
            <span class='card-header-text'>Join Forum</span>
        </div>
        <mat-card-content>
            <div class="content-context">
                <div class="content-motivation">Discuss the topic you still do not understand<br>with our Instructor / Community</div>
                <button mat-button class="btn btn-primary">GO TO FORUM</button>
            </div>
        </mat-card-content>
    </mat-card>
</section>