.content{
    margin: 10px;
}
.content-card{
    padding: 0;
    border-radius: 25px;
    padding-bottom: 10px;
}
.card-header{
    border-radius: 25px 25px 0 0;
    background-color: #c2185b;
    margin: 0;
    .card-header-text {
        font-size: 18px;
        padding: 10px 0;
        font-weight: bold;
    }
}
.mat-card-content{
    height: 600px;
    overflow-y: scroll;
}
.mat-card-content::-webkit-scrollbar {
    width: 10px;
}
.mat-card-content::-webkit-scrollbar-track {
    background: #383737; 
    border-radius: 25px 
}
.mat-card-content::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 25px;
}
.mat-card-content::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.content-context{
    padding: 10px;
}
.course-item{
    margin-bottom: 10px;
    display: inline-block;
    background-color: #303030;
    width: 100%;
    padding:10px;
    border-radius:10px;
    position: relative;
    .course-preview{
        display: flex;
        box-shadow:
            0 1.4px 11.6px -25px rgba(0, 0, 0, 0.248),
            0 3.3px 26.9px -25px rgba(0, 0, 0, 0.358),
            0 6px 48.4px -25px rgba(0, 0, 0, 0.442),
            0 10px 80.3px -25px rgba(0, 0, 0, 0.518),
            0 16.4px 132.3px -25px rgba(0, 0, 0, 0.602),
            0 28.7px 231.2px -25px rgba(0, 0, 0, 0.712),
            0 62px 500px -25px rgba(0, 0, 0, 0.96)
        ;      
        img{
            flex-grow: 1;
            width: 300px;
            height: 100px;
            border-radius: 6px;
            
        }
    }
    .course-detail{
        position: absolute; top: 10px;left: 10px;padding:10px;
        width: 300px;height: 100px;
        display: inline-block;
        background: linear-gradient(to left, rgba(255,0,0,0), rgba(0,0,0,1));
        .course-title{
            display: block;
            font-weight: bold;
        }
        .course-cluster{
            display: block;
        }
        .course-author{
            display: block;
        }
    }
}