<section class='content'>
    <mat-card class='content-card'>
        <div class='card-header'>
            <span class='card-header-text'>Latest Courses</span>
        </div>
        <mat-card-content>
            <div class="content-context">
                <div class="course-item" *ngFor="let course of (courses$ | async)" [routerLink]="['..','coursedetail',course.courseId]">
                    <div class='course-preview'>
                        <img [src]="'/assets/'+course.coverUrl">
                    </div>
                    <div class='course-detail'>
                        <span class='course-title'>{{course.name}}</span>
                        <span class='course-cluster'>{{course.track?.name}}</span>
                        <span class='course-author'>{{course.user?.name}}</span>
                    </div>
                </div>
            </div>
        </mat-card-content>

    </mat-card>
</section>
