table {
    width: 100%;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
.mat-column-id{
    width: 10%;
}
.mat-column-topic{
    width: 50%;
}
.mat-column-author{
    width: 20%;
}
.mat-column-upvote{
    width: 10%
}
.mat-column-reply{
    width: 10%
}