<div>
    <div class="row mx-3">
        <fa-icon [icon]="['fas','question-circle']" [class]="['fa-3x']" *ngIf="!discussion.discussionGroup?.photoUrl"></fa-icon>
        <img [src]="'/assets/'+discussion.discussionGroup?.photoUrl" style="width: 60px;height: 60px;" *ngIf="discussion.discussionGroup?.photoUrl">
        <div class="px-2">
            <h1 style="margin:0;padding:0">{{discussion.name}}</h1>
            <h4 style="margin:0;padding:0">{{discussion.discussionGroup?.name}}</h4>
        </div>
    </div>
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    <div class="">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="threadId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.threadId}} </td>
            </ng-container>
            <ng-container matColumnDef="topic">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Topic </th>
            <td mat-cell *matCellDef="let row"><a [routerLink]="['..','detail',row.threadId]" class="text-white">{{row.topic}}</a></td>
            </ng-container>
            <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
            <td mat-cell *matCellDef="let row"> {{row.user?.name}} </td>
            </ng-container>
            <ng-container matColumnDef="upvote">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Upvote </th>
            <td mat-cell *matCellDef="let row"> {{row.upvote}} </td>
            </ng-container>
            <ng-container matColumnDef="replyCount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Reply </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.replyCount}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr> 
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>